h1{
    color:blueviolet;
    background-color: orange;
    text-decoration: underline;
    text-align: center;
}
form{
    color:#7a324a;
    border: 3px solid pink;
    font-family: fantasy;
}